<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "bootstrap-doc/docs" %>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/bootstrap-apple-114x114.png">


    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="<%= root_url%>">Bootstrap</a>
          <ul class="nav">
            <%= nav_item "Overview", {:controller => 'doc', :action => 'overview'} %>
            <%= nav_item "About", {:controller => 'doc', :action => 'about'} %>
            <%= nav_item "Grid", {:controller => 'doc', :action => 'grid'} %>
            <%= nav_item "Layouts", {:controller => 'doc', :action => 'layouts'} %>
            <%= nav_item "Type", {:controller => 'doc', :action => 'typo'} %>
            <%= nav_item "Media", {:controller => 'doc', :action => 'media'} %>
            <%= nav_item "Tables", {:controller => 'doc', :action => 'tables'} %>
            <%= nav_item "Forms", {:controller => 'doc', :action => 'forms'} %>
            <%= nav_item "Navigation", {:controller => 'doc', :action => 'navigation'} %>
            <%= nav_item "Alerts", {:controller => 'doc', :action => 'alerts'} %>
            <%= nav_item "Popovers", {:controller => 'doc', :action => 'popovers'} %>
            <%= nav_item "Javascript", {:controller => 'doc', :action => 'javascript'} %>
            <%= nav_item "Less", {:controller => 'doc', :action => 'less'} %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Masthead (blueprinty thing)
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Bootstrap, from Twitter</h1>
          <p class="lead">
            Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites.<br />
            It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.<br />
          </p>
          <p><strong>Nerd alert:</strong> Bootstrap is <a href="#less" title="Read about using Bootstrap with Less">built with Less</a> and was designed to work out of the gate with modern browsers in mind.</p>
        </div><!-- /container -->
      </div>
    </header>

    <% if content_for?(:no_container) %>
        <%= yield (:no_container) %>
    <% else %>
      <div class="container">
          <%= yield %>
      </div><!-- /container -->
    <%end %>


    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.<br />
          Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
      </div>
    </footer>

    <!-- Le javascript -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap-doc/bootstrap-doc" %>

  </body>
</html>

