<section id="login">
  <div class="page-header">
    <h1>Sign in</h1>
  </div>
  <div class="row">
    <div class="span4 columns">
      <!--<h3>Default styles</h3>-->
      <p>Please enter your userid and password to log in.</p>
      <p>Some elaborate explanation why this is a good idea and what the remember me would actually do is
      definitely in order here - but cannot be provided yet for various reasons.</p>
    </div>

    <div class="span12 columns">
      <%= twitter_bootstrap_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|  %>

        <%= f.inputs do %>
              <%= f.email_field :email, :placeholder => 'me@example.com', :class => "xlarge" %>
              <%= f.password_field :password, :class => "xlarge" %>
              <%= f.toggles do %>
                <%= f.check_box :remember_me, 'Remember Me' %>
              <% end %>

              <%= f.actions do %>
                  <%= f.submit 'Log In'%>
                  <%= button_tag  'Cancel', :type => 'reset', :class => 'btn'%>
              <% end %>
        <% end %>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
    </div>

  </div><!-- /row -->

  <br>


</section>