<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application" %>
    <!--<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">-->

    <!-- Le javascript -->
    <%= javascript_include_tag "application" %>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <!--<script src="assets/js/google-code-prettify/prettify.js"></script>-->
    <!--<script src="assets/js/application.js"></script>-->



    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="images/favicon.ico">-->
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->

    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><%=  link_to "Bootstrap", :action => "index"%></h3>
          <ul class="nav">
            <li class="active"><%= link_to "Overview", :action => "overview" %></li>
            <li><%= link_to "About", :action => "about" %></li>
            <li><%= link_to "Grid", :action => "grid" %></li>
            <li><%= link_to "Layouts", :action => "layouts" %></li>
            <li><%= link_to "Typography", :action => "typo" %></li>
            <li><%= link_to "Tables", :action => "tables" %></li>
            <li><%= link_to "Forms", :action => "forms" %></li>
            <li><%= link_to "Navigation", :action => "navigation" %></li>
            <li><%= link_to "Alerts", :action => "alerts" %></li>
            <li><%= link_to "Popovers", :action => "popovers" %></li>
            <li><%= link_to "Less", :action => "less" %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Masthead (blueprinty thing)
    ================================================== -->
    <div id="masthead">
      <div class="inner">
        <div class="container">
          <h1>Bootstrap, from Twitter</h1>
          <p class="lead">
            Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites.<br />
            It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.<br />
          </p>
          <p><strong>Nerd alert:</strong> Bootstrap is <a href="#less" title="Read about using Bootstrap with Less">built with Less</a> and was designed to work out of the gate with modern browsers in mind.</p>
        </div><!-- /container -->
      </div>
    </div>

    <% if content_for?(:no_container) %>
        <%= yield (:no_container) %>
    <% else %>
      <div class="container">
          <%= yield %>
      </div><!-- /container -->
    <%end %>


    <div id="footer">
      <div class="inner">
        <div class="container">
          <p class="right"><a href="#">Back to top</a></p>
          <p>
            Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.<br />
            Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>

